---
import Layout from "../../layouts/Layout.astro";
import { getLaunchBy, getLatestLaunches } from "../../services/spacex";

export const prerender = false

const { id } = Astro.params
let launch
if (id){
    launch = await getLaunchBy({ id })
}

// Esto es para cuando se trabaja solo estatico
// Cantidad limitada de objetos en la respuesta
/* export async function getStaticPaths(){
    const launches = await getLatestLaunches()

    return launches.map((launch)=>({
        params: { id: launch.id }
    }))
} */

---

<Layout title=`Lanzamiento ${id}`>
    <article class="flex gap-y-4 flex-col items-center">
        <img
            class="w-52 h-auto"
            src={launch?.links?.patch.small} alt={launch?.name}>
        <h2 class="text-4xl text-white font-bold">Launch #{launch?.flight_number}</h2>
        <h2 class="text-4xl text-white font-bold">{launch?.name}</h2>
        <p class="text-lg">{launch?.details}</p>
    </article>
</Layout>